.app {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .content {
    flex-grow: 1;
    padding: 0px;
    transition: margin-left 0.3s;
  }
  
  .with-sidebar .content {
    margin-left: 0px; /* Adjust to match the width of your sidebar */
  }

  .main-content {
    margin-top: 20px;
    margin-left: 20px;
  }
  
  